[submodule "hi-dhl"]
	path = hi-dhl
	url = https://github.com/hi-dhl/hi-dhl.git
[submodule "MultiStatePage"]
	path = MultiStatePage
	url = https://github.com/Zhao-Yan-Yan/MultiStatePage.git
[submodule "Cockroach"]
	path = Cockroach
	url = https://github.com/android-notes/Cockroach.git
[submodule "views-widgets-samples"]
	path = views-widgets-samples
	url = https://github.com/android/views-widgets-samples.git
