[submodule "hi-dhl"]
	path = hi-dhl
	url = https://github.com/hi-dhl/hi-dhl.git
[submodule "MultiStatePage"]
	path = MultiStatePage
	url = https://github.com/Zhao-Yan-Yan/MultiStatePage.git
[submodule "Cockroach"]
	path = Cockroach
	url = https://github.com/android-notes/Cockroach.git
[submodule "views-widgets-samples"]
	path = views-widgets-samples
	url = https://github.com/android/views-widgets-samples.git
[submodule "gsy_github_app_flutter"]
	path = gsy_github_app_flutter
	url = https://github.com/CarGuo/gsy_github_app_flutter.git
[submodule "TDialog"]
	path = TDialog
	url = https://github.com/Timmy-zzh/TDialog.git
[submodule "smart-show"]
	path = smart-show
	url = https://github.com/zhuzhiqiang-series/smart-show.git
[submodule "BigImageViewPager"]
	path = BigImageViewPager
	url = https://github.com/SherlockGougou/BigImageViewPager.git
[submodule "SuperTextView"]
	path = SuperTextView
	url = https://github.com/lygttpod/SuperTextView.git
[submodule "ScrollTextView"]
	path = ScrollTextView
	url = https://github.com/AnyLifeZLB/ScrollTextView.git
[submodule "coil"]
	path = coil
	url = https://github.com/coil-kt/coil.git
[submodule "glide"]
	path = glide
	url = https://github.com/bumptech/glide.git
[submodule "SmoothRefreshLayout"]
	path = SmoothRefreshLayout
	url = https://github.com/dkzwm/SmoothRefreshLayout.git
